:root {
  --card-height: 300px;
  --card-width:  500px;
}

body{
	background-color: #F9975D;
}

p{
	padding: 0 10px;
}

.no-need{
	opacity: 100%;
	visibility: hidden;
}

h1,h2{
	font-weight: 800;
  	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
	font-size: 3.5rem;
}

h2{
	/*color: #FBFF00;*/
	color: #FBD148;
	font-size: 4.5rem;
}


.title-div{
	color: #fff;
	width: auto;
	height: 75%;
}

.title-div{
	padding: 13% 17%;
}

.title-img{
	border-radius: 100%;
}

/* Title Animation */
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #035397;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/*************************/
/*cards*/
.card{
	height: var(--card-height);
	width: var(--card-width);
	margin: 15% 8% 0;
	transition: transform .2s;
}

.card-img{
	height: 298px;
	width: 498px;
	object-fit:cover;
}

.card-title{
	color: #F9975D;
}
.card-text{
	color: #F9975D;
}

.nav-to-project{
	position: absolute;
	top:  160%;
	right: 40px;
}


@keyframes zoom-in {
    0.0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}


/* Add the animation: property to whichever element you want to animate */
.card:hover {
  transform: scale(1.06);
}

/*******************************************/
/*Brief ME section*/
#Brief-me{
	background-color: #C85C5C;
}

.intro-video,.coder-img{
	height: 500px;
	width: auto;
	padding: 0 80px 10px;
	float: right;
}
.channel-Description{
	display: inline;
	text-align: left;
	line-height: 2; 
	font-size: 1.5rem;
}

.coder-img{
	float: left;
	height: 300px;
	width: auto;
}

.channel-container{
	margin: 0 25px;
}

.channel-title{
	color: #181D31;
	font-size: 3rem;
}

#About-me{
	padding: 40px 10px;
}
/*******************Me Descrip*********************/

.pesu{
	position: relative;
	top: 290px;
	left: 400px;
	color: red;
	transform: rotate(-2deg);
}

.social-icon{
	padding: 10px;
	color: #000;
}

.contact{
	position: relative;
	top: 390px;
	left: 450px;
	transform: rotate(-2deg);
	visibility: hidden;
}
/*************************************************/

footer{
	width: 100%;
	min-height: 600px;
	background-image:  url('{{url_for('static',filename='images/footer2.jpg')}}')
}

.visiting-card{
	color: #000;
	position: relative;
	top:280px;
	left: 400px;
	transform: rotate(-2deg);
}

.credits{
	display: inline;
	text-align: left;
	line-height: 2; 
	font-size: 1rem;
}

.copy-right{
	position: relative;
	top: 200px;
	left:320px;
	font-size: 1.3rem;
	transform: rotate(-2deg);

}

.project-showcase{
	margin: 20px 140px 20px;
}

.credential{
	color: #fff;
	position: relative;
	font-size:0.6rem;
	top: 250px;
	left: 80%;
}

.success{
	width: 80%;
	height: 600px;
	background-color: red;
}

@media (max-width: 600px){
	html,body{ 
		align-items: center;
   		margin: 0;
    	padding: 0;
    	overflow-x:hidden;
	}

	.title-div{
	padding: 24% 17%;
		}

	h1{
	font-size: 3rem;
		}

	h2{
	/*color: #FBFF00;*/
	color: #FBD148;
	font-size: 2rem;
	}

	.nav-to-project{
	position: relative;
	top: 30px;
	left: 40%;
	}

	.intro-video{
	
	width: 100%;
	height: auto;
	padding: 0 80px 10px;
	float: right;
	}

	.social-icon{
	color: #000 ;
	}

	.pesu{
	position: relative;
	top: 260px;
	left: 400px;
	color: #E6DDC4;
	transform: rotate(-2deg);
	}

	.visiting-card{
		color: #000;
		position: relative;
		top: 280px;
		left: 400px;
		transform: rotate(-2deg);
	}

	.contact{
		font-size: 2rem;
		position: relative;
		top: 370px;
		left: 370px;
		visibility: hidden;
	}

	.project-showcase{
	margin: 20px 80px 20px 20px;
	}

	.credential{
	color: #fff;
	right: 200px;
	font-size:0.6rem;
	}

	.foot{
		width: 200%;
		position: relative;
		right: 200px;
	}
	.copy-right{
		position: relative;
		bottom: 10px;

	}
}

