<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Nawf Abdullah</title>
	 <link rel='icon' href="{{url_for('static',filename='images/logo.ico')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
	<script type="text/javascript" defer src= 'https://use.fontawesome.com/releases/v5.0.7/js/all.js'></script>
	{% block styles %}{% endblock %}
</head>
<body>
	<section id="title">
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Nawf Abdullah</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#About-me">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/projects">Projects</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/contact-me">Contact</a>
	      </li>
	      {% if not current_user.is_authenticated: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          {% else: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          {% endif %}
	    </ul>
	  </div>
	</nav>
	{% block content %}{% endblock %}
	<footer class="foot" style="background-image:url('{{url_for('static',filename='images/footer2.jpg')}}')">
		<strong style="color: #000;"><h3 class="visiting-card" style="">Nawf Abdullah</h3></strong>
		<a class="contact" href="/contact-me">Contact</a>
		<div class="pesu">
			<a href="https://www.instagram.com/code_with__nawf/"><i class="social-icon fab fa-3x fa-instagram"></i></a>
			<a href="https://www.youtube.com/channel/UCMuV5Al90xJgG01xjQTQVzA"><i class="social-icon fab fa-3x fa-youtube"></i></a>           
			<a href="https://www.linkedin.com/in/nawf-abdullah-69474a225/"><i class="social-icon fab fa-3x fa-linkedin"></i></a>                  
			<a href="/contact-me"><i class="social-icon fas fa-3x fa-envelope"></i></a>
		</div>

		<div class="credential">
		Photo by Dominika Roseclay from Pexels<br>
		Photo by Craig Adderley from Pexels
		<div>Icons made by: <br> <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>
		<a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><br>
		</div>
		<p class="copy-right">© Copyright 
		{% if year: %}
		{{year}} 
		{% else %}
		2021
		{% endif %}
		Nawf Abdullah</p>

	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
